<nav class="navbar navbar-expand-lg " style="background-color: #a7a5a8;">
    <a class="navbar-brand">Digital Pharma</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="/Manage-Products">Manage Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/Manage-orders">Manage Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLinkActive="active" routerLink="/Manage-Users">Manage Users </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/Messages">Messages </a>
        </li>
      </ul>
    </div>
    <div>
        <a  name="logout" id="logout" class="btn btn-primary " role="button" color>Logout</a>

    </div>
  </nav>

<p>admin-dashboard works!</p>
<a routerLinkActive="active" routerLink="/Manage-Products">Manage Products</a><br>
<a routerLinkActive="active" routerLink="/Manage-orders">Manage Orders</a><br>
<a routerLinkActive="active" routerLink="/Manage-Users">Manage Users</a><br>
<a routerLinkActive="active" routerLink="/Messages">Messages</a>