<nav class="main-menu">
  <ul>
    <li>
      <a routerLink="/admin">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/Manage-Products">
        <i class="fa fa-box-open fa-3x"></i>
        <span class="nav-text">
          Manage Products
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/Manage-orders">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <span class="nav-text">
          Manage Orders
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/manage-users">
        <i class="fa fa-person-carry fa-2x"></i>
        <span class="nav-text">
          Manage users
        </span>
      </a>

    </li>
    <li>
      <a routerLink="/messageList">
        <i class="fa fa-envelope fa-2x"></i>
        <span class="nav-text">
          Manage Messages
        </span>
      </a>
    </li>


  </ul>

  <ul class="logout">
    <li>
      <a name="logout" id="logout" routerLink="/" role="button" (click)="logout()" color>

        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>



<div class="row g-6 mb-6" style="height: 30%; padding-left:20% ;padding-top:10%;">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Number of users</span>
            <span class="h3 font-bold mb-0 ">{{users.users.length}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
              <i class="bi bi-people"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total No of orders placed</span>
            <span class="h3 font-bold mb-0">{{this.order.orders.length}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
              <i class="bi bi-minecart-loaded"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
<div class="row g-6 mb-6" style="height: 30%; padding-left:20%;padding-top:11%;">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Products in store</span>
            <span class="h3 font-bold mb-0">{{this.product.products.length}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
              <i class="bi bi-box"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Budget</span>
            <span class="h3 font-bold mb-0">{{result| currency: 'INR'}}</span>

          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
              <i class="bi bi-credit-card"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div style="width:1000px;height:200px;padding: left 200px;">
    <chart class="dashchart" [type]="type" [data]="data" [options]="options"></chart>
  </div>
</div>