<p>admin-manage-orders works!</p>
<!-- <div class="row" >
<div class="col-sm-3" style="margin-top: 10px;"  *ngFor="let order of order.orders;let i = index">   
    <div class="card " >
        <div class="card-body" style="background-color: rgb(123, 207, 210);">
            <div class="media flex-column flex-sm-row" >
                <div class="media-body ">
                    <h5 class="bold" style="margin-bottom: 0px;">{{order.userId}}</h5>
                    <h6 class="mt-3 mb-4 bold" style="margin-bottom: 0px!important;margin-top: 0px!important;"> {{order.amount}}</h6>
                    <p class="text-muted">{{order.address}} </p>
                    <p class="text-muted">{{order.status}} </p>
                    <div class="col  my-auto  border-line "><h6 *ngFor="let p of order.products"><p> {{p.productId}}</p><p> {{p.quantity}}</p></h6></div>                </div>
            </div>
        </div>
         <div class="card-footer  bg-white px-sm-3 pt-sm-4 px-0" style="background-color: rgb(123, 207, 210);">
            <div class="row text-center  " >
                <button type="button" class="btn  btn-outline-primary d-flex" >update status</button> 
            </div>
        </div>
        </div>
    
</div>
</div> -->

<table class="table">
    <thead>
        <tr>
            <th>userId</th>
            <th>amount</th>
            <th>address</th>
            <th>status</th>
            <th>product details</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of order.orders">
            <td scope="row">{{order.userId}}</td>
            <td>{{order.amount | currency: 'INR'}}</td>
            <!-- <td>{{order.address | json}}</td> -->
            <td>
                <div *ngFor="let item of order.address | keyvalue">
                    {{item.key}}: {{item.value}}
                </div>
            </td>
            <td>{{order.status}}</td>
            <td>
                <div *ngFor="let p of order.products">
                    <p>{{p.productId}} , quantity: {{p.quantity}}</p>
                </div>
            </td>
            <td>
                <div class="row text-center  ">
                    <button type="button" class="btn  btn-outline-primary d-flex"
                        [routerLink]="['/update-status', order._id]">update status</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>