<body>
    <section>
        <div class="container py-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">

                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                            style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <i class="fas fa-angle-left"></i>
                            <p class="mb-0 fw-bold">GetMeds Bot</p>
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="card-body">


                            <ng-container *ngFor="let message of messages">
                                <div class="message" [ngClass]="{ 'from': message.author === 'bot',
                            'to': message.author === 'user' }">
                                    {{ message.content }}
                                </div>
                            </ng-container>




                            <div class="form-outline">
                                <label class="form-label" for="textAreaExample"
                                    *ngIf="messages.length == 0; else dialogInfo" for="nameField">Your message</label>



                                <textarea [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text"
                                    class="form-control" id="textAreaExample" rows="4"></textarea>
                                <button class="button-1" (click)="sendMessage()">Send</button>

                            </div>
                            <ng-template #dialogInfo>



                            </ng-template>







                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</body>