<div class="card">
    <div class="card-body">
        <h4 class="card-title">List of users</h4>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>username</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td scope="row">{{user.firstName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
                <button type="button" class="btn ml-1 btn-danger btn-sm" (click)="deleteUser(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>