<app-header></app-header>
<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div ngxSlickItem class="slider-item "
    style="background-image:url('assets/images/slideshow1-2.jpg'); height: 400px; width: fit-content;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <a href="#">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="slider-item"
    style="background-image:url('assets/images/slideshow1-3.jpg'); height: 400px; width: fit-content;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">up to 70% off</span>
            <h1 class="mt-2 mb-5"><span class="text-color"></span> </h1>
            <a href="#">Shop Now</a> <!-- class="btn btn-main"-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngxSlickItem class="slider-item"
    style="background-image:url('assets/images/slideshow1-1.jpg'); background-position:50%;background-repeat:no-repeat;height: 400px; width: fit-content;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Covid essentials</span>
            <h1 class="mt-2 mb-5"><span class="text-color">All </span>Essentials</h1>
            <a href="#">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>

<section class="container2">

  <div class="row">

    <div class="col-md-3 col-sm-6">
      <a routerLink="/Nutrients">
        <div class="our-team">
          <div class="pic">
            <img src="https://newassets.apollo247.com/pub/media/catalog/category/h_and_n.png">
          </div>
          <h3 class="title">Health & Nutrients</h3>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-sm-6">
      <a routerLink="/Ayurveda">
        <div class="our-team">
          <div class="pic">
            <img src="https://newassets.apollo247.com/pub/media/catalog/category/ayurveda.jpg">
          </div>
          <h3 class="title">Ayurveda</h3>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-sm-6">
      <a routerLink="/health-device">
        <div class="our-team">
          <div class="pic">
            <img src="https://newassets.apollo247.com/pub/media/catalog/category/health_devices_22oct.png">
          </div>
          <h3 class="title">Health devices</h3>

        </div>
      </a>
    </div>

    <div class="col-md-3 col-sm-6">
      <a routerLink="/covid-essential">
        <div class="our-team">
          <div class="pic">
            <img src="https://newassets.apollo247.com/pub/media/catalog/category/logo.jpg">
          </div>
          <h3 class="title">Covid Essential</h3>
        </div>
      </a>
    </div>

  </div>
</section>

<df-messenger intent="WELCOME" chat-title="MedBot" agent-id="8c4fe8ff-84b7-4f64-9387-5ef49b9a1267" language-code="en">
</df-messenger>

<section class="section products-main h-25">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>New arrivals</h2>
          <p>The best Online Pharmacy to shop for your health</p>
        </div>
      </div>
    </div>

    <div>
      <app-product-card [product]="product" *ngFor="let product of newProducts;let i = index"></app-product-card>
    </div>
  </div>
</section>

<section class="section products-main h-25">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>Popular Products</h2>
        </div>
      </div>
    </div>
    <div>
      <app-product-card [product]="product" *ngFor="let product of popularProducts;let i = index"></app-product-card>
    </div>
  </div>
</section>



<!-- <app-footer></app-footer> -->