.container2 {
    background: #fff;
    margin-top: 5rem;
  }
  
  .our-team {
    padding: 0.2rem 0.2rem;
    background: #173C96;
    border-radius: 1rem;
    text-align: center;
    border: 0.5px solid #173C96;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }
  .our-team .pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #173C96;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .pic {
    background: lightblue;/* #E55246; */
    border-radius: 50%;
  }
  .pic img {
    width: 20%;
    height: auto;
    border-radius: 50%;
  }
  .our-team .title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #60c5a8;
    margin: 0 0 7px 0;
  }

  body {
    background-color: #eee
}

.chat-btn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}


.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    padding-right: -20px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: blue;
    color: #fff;
    font-size: 22px;
    border: none
}

.wrapper {
    position: absolute;
    right: 200px;
    bottom: 100px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

#check:checked~.wrapper {
    opacity: 1
}

.header {
    padding: 13px;
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
    background-color: blue;
    border: blue
}

#check {
    display: none !important
}
 
 
  @media only screen and (max-width: 992px) {
    .our-team {
      margin-bottom: 2rem;
    }
  }

.container2 {
    background: #fff;
    margin-top: 5rem;
}
 
.column {
    float: left;
    width: 25%;
    height: 400px;
    padding: 0 20px;
    padding-bottom: 20px;
}
.our-team-product {
    padding: 0.2rem 0.2rem;
    background:white;
    border-radius: 1rem;
    text-align: center;
    border: 0.5px solid white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }

  .our-team-product .pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: white;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
  }
  .our-team-product:hover .pic {
    background: lightblue; /*lightgreen;*/
    border-radius: 50%;
  }
  .pic img {
    width: 40%;
    height: auto;
    border-radius: 20%;
  }
  .our-team-product .title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #60c5a8;
    margin: 0 0 7px 0;
  }


  
  
  