<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Product Information</h1>
          <p>GetMeds Provides the finest tested medicines and provides expected home delivery</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-slider">
          <div class="carousel slide" data-ride="carousel" id="single-product-slider">



            <img src={{this.Product.product.image}} class="img-fluid">



          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2> {{this.Product.product.title}}</h2>
          <div class="sku_wrapper mb-4">
            Expiry Date: <span class="text-muted">24/06/2024 </span>
          </div>
          <hr>

          <h3 class="product-price">{{this.Product.product.price|currency:"INR":"symbol"}}
            <del>{{this.Product.product.price+50|currency:"INR":"symbol"}}</del>
          </h3>

          <p class="product-description my-4 ">
            {{this.Product.product.description}}
          </p>
          <form class="cart" action="#" method="post">
            <!-- <div class="quantity d-flex align-items-center">
              <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9"
                name="quantity" value="1" title="Qty" size="4">
              <a class="btn btn-main btn-small" (click)="addProductToCart(product._id)">Add to cart</a>
            </div> -->
            <button type='button' class="btn btn-info mb-2" (click)="addProductToCart(product._id)" data-toggle="modal"
              data-target="#modalCart">Add to
              Cart</button>
          </form>
          <div class="modal fade right" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
              <!--Content-->
              <div class="modal-content" *ngIf="isLogged">
                <!--Header-->
                <div class="modal-header">
                  <p class="heading text-success">Product is added to the cart
                  </p>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                  </button>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-success" routerLink="/cart">Go to cart</a>
                  <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Cancel</a>
                </div>
              </div>
              <!--/.Content-->

              <!--Content-->
              <div class="modal-content border border-warning border-50" *ngIf="!isLogged">
                <!--Header-->
                <div class="modal-header">
                  <p class="heading text-dark">Please Login or Signup to add products to the cart
                  </p>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                  </button>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-warning" routerLink="/login">Login</a>
                  <a type="button" class="btn btn-warning waves-effect" routerLink="/signup">Signup</a>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>



          <div class="products-meta mt-4">

            <div class="product-share mt-5">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>