input{ margin: 10px; }
     
     .col-md-4{
       margin-bottom:20px;
     }

     .container2 {
        background: #fff;
        margin-top: 5rem;
      }
      
      
      .our-team {
        padding: 0.2rem 0.2rem;
        background:white;
        border-radius: 1rem;
        text-align: center;
        border: 0.5px solid white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
          rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
      }
      
.column {
    float: left;
    width: 25%;
    height: 400px;
    padding: 0 20px;
    padding-bottom: 20px;
}
        .our-team .pic {
          display: inline-block;
          width: 100%;
          height: 100%;
          background: white;
          padding: 0.75rem;
          margin-bottom: 1.5rem;
          transition: all 0.5s ease 0s;
        }
        .our-team:hover .pic {
          background: lightblue; /*lightgreen;*/
          border-radius: 50%;
        }
        .pic img {
          width: 40%;
          height: auto;
          border-radius: 20%;
        }
        .our-team .title {
          display: block;
          font-size: 1.5rem;
          font-weight: 600;
          color: #60c5a8;
          margin: 0 0 7px 0;
        }
       
       
        @media only screen and (max-width: 992px) {
          .our-team {
            margin-bottom: 2rem;
          }
        }
        
    