<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h2 class="mb-2">Login</h2>
            <p class="lead">Don't have an account? <a routerLink="/signup">Create a free account</a></p>
          </div>
          <form novalidate [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="form-group">
              <label for="username">Enter username</label>
              <input type="text" class="form-control" placeholder="Enter username" formControlName="username"
              [ngClass]="{'is-invalid':username.errors && (username.touched || username.dirty),'is-valid' :username.valid}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
              </svg>
              <div class="invalid-feedback">
                <strong *ngIf="username.errors?.['required']">userName is required </strong>
              </div>
            
            </div>
            <div class="form-group">
              <label for="password">Enter Password</label>
              <a class="float-right" routerLink="">Forget password?</a>
              <input type="text" class="form-control" placeholder="Enter Password" formControlName="password"
              [ngClass]="{'is-invalid':password.errors && (password.touched || password.dirty),'is-valid' :password.valid}">
              <div class="invalid-feedback">
                <strong *ngIf="password.errors?.['required']">password is required </strong>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>

            <!-- <a name="" id="" class="btn btn-primary" type="submit">Admin</a> -->


          </form>
        </div>
      </div>
    </div>
  </div>
</div>