<button type="button" class="button-53" data-toggle="modal" data-target="#form"> Do you have a query? </button>


<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
            <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
                <div class="comment-box text-center">
                    <h4>Post your question </h4>

                    <div class="comment-area"> <textarea class="form-control"
                            placeholder="Ask us here ,We will reply soon" rows="4"></textarea> </div>

                    <div class="text-center mt-4"> <button class="btn btn-success send px-5">Send message <i
                                class="fa fa-long-arrow-right ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>