<body>
    <button type="button" class="button-53" data-toggle="modal" data-target="#form"> Do you have a query? </button>


    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>

                <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100"
                        width="100">
                    <div class="comment-box text-center">
                        <h4>Post your question </h4>

                        <!-- <div class="comment-area">
                        <textarea class="form-control" [(ngModel)]="text" placeholder="Ask us here ,We will reply soon"
                            rows="4"></textarea>
                    </div> -->

                        <!-- MESSAGE -->

                        <div class="modal-body">
                            <form #formDir="ngForm" [formGroup]="msgForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">

                                    <textarea class="form-control" name="message" cols="30" rows="10"
                                        formControlName="message"></textarea>
                                    <div class="test">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </div>
                                </div>
                            </form>
                        </div>



                        <!--  -->


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center text-white">
        <div class="row pt-5">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">Discussion Board</h1>
                <p class="lead mb-0">Discuss your queries/Health realted issues with us
                </p>
                <p class="lead">Powered by GetMeds <a href="https://bootstrapious.com/snippets" class="text-white">
                        <u></u></a></p>
            </div>
        </div>
    </div><!-- End -->


    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto bg-white rounded shadow">

                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th scope="col" class="col-3">#</th>
                                <th scope="col" class="col-3">Your queries</th>
                                <th scope="col" class="col-3">Date</th>
                                <th scope="col" class="col-3">Replies</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="col-3">1</th>
                                <td class="col-3">{{this.Message.savedMessage.message}}</td>
                                <td class="col-3">{{this.Message.savedMessage.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>