<app-header></app-header>

<div class="alert alert-success" role="alert" *ngIf="this.cartflag">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Product Added to cart!
</div>

<div class="col-md-3">
    <div class=" mb-4 mt-2">
        <select class="form-control" [(ngModel)]="sortOption">
            <option value="product_name|asc">Sort By Name (A to Z)</option>
            <option value="product_name|desc">Sort By Name (Z to A)</option>
            <!-- <option value="product_price|lth"(click)="sortPricel2h()">Sort By Price (Low to High)</option> -->
            <option value="product_price|htl">Sort By Price (High to Low)</option>
        </select>
        <div class="input-group mb-4 mt-3">

            <input class="form-control" name="title" [(ngModel)]="title" (ngModelChange)="Search()"
                placeholder="Search for products  ">
        </div>
    </div>



</div>


<section class="container2" *ngFor="let product of Product.products;let i = index">

    <div>


        <div class="col-md-3 col-sm-6" class="column">

            <div class="our-team">
                <a [routerLink]="['/product-info',product._id]">
                    <div class="pic">
                        <img src="{{product.image}}" />
                        <!-- <img src="{{product.image}}"> -->
                    </div>
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">{{product.title}}</h6>
                        <!-- <div> class="row"> -->
                        <div>
                            <p class="card-text text-truncate"> <small> {{product.description}} </small></p>
                        </div>
                        <div>
                            <!-- class="col-md-6"> -->
                            <p class="font-weight-bold"> {{product.price | currency: 'INR'}} </p>
                        </div>


                    </div>
                </a>
                <button type='button' class="btn btn-sm btn-primary mb-1" (click)="addProductToCart(product._id)">Add to
                    Cart</button>

            </div>
        </div>
    </div>





</section>