<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 navigation" id="navbar">
  <div class="container">
    <a class="navbar-brand font-weight-bold" roterLink="/">GetMeds</a>
    <img src="assets/images/pharmacy.png" width="50" height="50" alt="">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">

          <a class="nav-link" routerLink="/">Home </a>
        </li>



        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">


            <li><a routerLink="/product-list">View all Producrs</a></li>
            <li><a routerLink="/Homeopathy">Homeopathy</a></li>
            <li><a routerLink="/Ayurveda">Ayurveda</a></li>
            <li><a routerLink="/health-device">Health devices</a></li>
            <li><a routerLink="/covid-essential">Covid essentials</a></li>
            <li><a routerLink="/Nutrients">Nutrients</a></li>
            <li><a routerLink="/Clinical">Clinical</a></li>
            <li><a routerLink="/personal-care">Personal Care</a></li>
            <li><a routerLink="/home-care">Home Care</a></li>


          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/discussion-board">Dicussion Board</a>
        </li>


      </ul>
    </div>
    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <ng-template [ngIf]="!isUserLogged()">

        <li class="list-inline-item">
          <a name="signup" id="signup" color="orange" class="btn btn-outline-primary m-1" routerLink="/signup"
            role="button">Signup</a>
        </li>
        <a name="login" id="login" class="btn btn-outline-primary m-1" routerLink="/login" role="button" color>Login</a>
      </ng-template>

      <!--  LOGOUT -->

      <ng-template [ngIf]="isUserLogged()">
        <button size="10px" type="button" routerLink="/profile" class="btn btn-outline-primary m-1">Welcome,
          {{this.User.data.firstName}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-person" viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg></button>



        <a name="logout" id="logout" class="btn btn-outline-primary m-1" routerLink="/" role="button" (click)="logout()"
          color>Logout</a>


      </ng-template>
      <li class="cart-nav list-inline-item ml-2 border border-dark rounded-circle cart-btn">
        <a routerLink="/cart">
          <!-- class="dropdown-toggle cart-icon m-1" data-toggle="dropdown" data-hover="dropdown"> -->
          <i class="tf-ion-android-cart cart-icon"></i>
        </a>
      </li>



    </ul>
  </div>
</nav>